html{
	background-color: azure;
	height: 100%;
}
body{
	height: 100%;
	margin: 0;
	padding: 5;
}
#PlayPause{
	width: 80%;
	height: 60px;
	background-color: #000088;
	font-size: 18pt;
	color: white;
}
#PlayPause:disabled{
	color: lightgrey;
	background-color: #4682b4;
}
#SpeedVal{
	width: 50%;
}
.OpButton{
	height: 30px;
	width: 15%;
	text-align: center;
}
.MarkButton{
	height: 30px;
	width: 120px;
}
header{
	padding: 0 5px 0 0;
	text-align: right;
	font-size: 110%;
	font-style: italic;
}
footer{
	text-align: right;
	position: sticky;
	top: 100vh;
	width: 100%;
}
table td {
	background: #dfd;
}
table tr:nth-child(odd) td {
	background: #fff;
}

.Modal {
  display: none;
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}
.Modal-content {
  background-color: #e0e0e0;
  margin: 20% auto;
  width: 60%;
  padding: 2em;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 0.5s;
}
